<div class="dialog-dialog">
    <div class="dialog-close">
        <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>
    </div>
    
    <div class="dialog-message" style="white-space: pre-line;">
        <span class="content-span full-width" [innerHtml]="data.message">            
        </span>
    </div>

    <div mat-dialog-actions class="dialog-action" >        
        <button mat-raised-button class="mat-raised-button mat-accent mr-16" [mat-dialog-close]="true">OK</button>
    </div>
</div>
