@use '@angular/material' as mat;
@import "../../../../@fuse/scss/fuse.scss";

@include mat.core();

toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;
    background-color:#f5f5f5;

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        position: relative;
        background: inherit !important;
        color: inherit !important;
    }

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: 140px;
        }
    }

    .user-button,
    fuse-search-bar,
    .language-button,
    .chat-panel-toggle-button,
    .quick-panel-toggle-button {
        min-width: 64px;
        height: 64px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }

    .navbar-toggle-button {
        min-width: 56px;
        height: 56px;
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }

    .left-logo {
        margin: 1px;
    }

    .left-logo-icon {
        min-height: 60px;
        max-height: 60px;
        min-width: 60px;
        max-width: 140px;
        margin-left: 20px;
    }
}
.mat-toolbar {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
