<div id="genericvtmapping" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <!-- <div class="top-bg accent"></div> -->
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center" class="title">

                <button mat-icon-button class="mat-icon-button mr-0 mr-sm-16" [routerLink]="'/genericvtmappings'" skipLocationChange="true"
                    replaceUrl="false">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="PageRights.PageType ==='Edit'">
                        {{ genericvtmappingModel.Name }}
                    </div>
                    <div class="h2" *ngIf="PageRights.PageType ==='New'">
                        New VTP/VC/VT Mapping
                    </div>
                    <div class="subtitle secondary-text">
                        <span>VTP/VC/VT Mapping Details</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="add-button fuse-white mt-24 mt-md-0" *ngIf="PageRights.ActionType ==='new'"
                (click)="saveOrUpdateGenericVTMappingDetails()">
                <span>ADD</span>
            </button>

            <button mat-raised-button class="save-button fuse-white mt-24 mt-md-0" *ngIf="PageRights.ActionType ==='edit'"
                (click)="saveOrUpdateGenericVTMappingDetails()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="genericvtmappingForm" [formGroup]="genericvtmappingForm" class="genericvtmapping w-100-p p-24 mr-24"
                    fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" fxFlex fusePerfectScrollbar>

                    <div fxLayout="row" fxLayout.lt-md="column" class="input-row" fxLayoutGap="10px"
                        fxLayoutGap.lt-md="0px">
                        <mat-form-field appearance="outline" fxFlex="67" fxFlex.lt-md="67" fxFlex.lt-sm="100">
                            <mat-label>Vocational Training Provider</mat-label>
                            <input type="text" placeholder="Search for a VTP" matInput formControlName="VTPId" [matAutocomplete]="auto" [disabled]="PageRights.IsReadOnly" (focus)="onFocus()">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayVTPName"  (optionSelected)="selectVTP($event)">
                                <mat-option *ngFor="let vtp of filteredVtpItems" [value]="vtp">
                                    {{ vtp.Name }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="genericvtmappingForm.controls.VTPId.invalid">
                                {{getErrorMessage(genericvtmappingForm, 'VTPId')}}
                            </mat-error>
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline" fxFlex="67" fxFlex.lt-md="67" fxFlex.lt-sm="100">
                            <mat-label>Vocational Coordinator</mat-label>
                            <input type="text" placeholder="Search for a VC" matInput formControlName="VCId" [matAutocomplete]="autoVC" [disabled]="PageRights.IsReadOnly" (focus)="onFocusVC()">
                            <mat-autocomplete #autoVC="matAutocomplete" [displayWith]="displayVCName"  (optionSelected)="selectVC($event)">
                                <mat-option *ngFor="let vc of filteredVcItems" [value]="vc">
                                    {{ vc.Name }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="genericvtmappingForm.controls.VCId.invalid">
                                {{getErrorMessage(genericvtmappingForm, 'VCId')}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="column" class="input-row" fxLayoutGap="10px"
                    fxLayoutGap.lt-md="0px">
                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lt-md="75"
                    fxFlex.lt-sm="100">
                        <mat-label>School/Sector/JobRole</mat-label>
                        <input type="text" placeholder="Search for a SSJ" matInput formControlName="SSJId" [matAutocomplete]="autoSSJ" [disabled]="PageRights.IsReadOnly" (focus)="onFocusSSJ()">
                        <mat-autocomplete #autoSSJ="matAutocomplete" [displayWith]="displaySSJName"  (optionSelected)="selectSSJ($event)">
                            <mat-option *ngFor="let ssj of filteredGVTItems" [value]="ssj">
                                {{ ssj.Name }}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="genericvtmappingForm.controls.SSJId.invalid">
                            {{getErrorMessage(genericvtmappingForm, 'SSJId')}}
                        </mat-error>
                    </mat-form-field>
                </div>  
                    <div fxLayout="row" fxLayout.lt-md="column" class="input-row" fxLayoutGap="10px"
                        fxLayoutGap.lt-md="0px">

                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.lt-md="50" fxFlex.lt-sm="100">
                            <mat-label>Vocational Trainer</mat-label>
                            <input type="text" placeholder="Search for a VT" matInput formControlName="VTId" [matAutocomplete]="autoVT" [disabled]="PageRights.IsReadOnly" (focus)="onFocusVT()">
                            <mat-autocomplete #autoVT="matAutocomplete" [displayWith]="displayVTName"  (optionSelected)="selectVT($event)">
                                <mat-option *ngFor="let vt of filteredVtItems" [value]="vt">
                                    {{ vt.Name }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="genericvtmappingForm.controls.VTId.invalid">
                                {{getErrorMessage(genericvtmappingForm, 'VTId')}}
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.lt-md="50" fxFlex.lt-sm="100">
                            <mat-label>Date Of School VTP Allocation</mat-label>
                            <input matInput [matDatepicker]="dateOfAllocation" name="dateOfAllocation"
                            [min]="minAllocationDate" [max]="CurrentDate" formControlName="DateOfAllocation"
                            (dateChange)="onChangeDateOfAllocation()"
                            [disabled]="PageRights.IsReadOnly" [readonly]="true" (click)="dateOfAllocation.open()">
                            <div matSuffix style="display: flex; align-items: center;">
                                <mat-icon matDatepickerToggleIcon matSuffix [for]="dateOfAllocation" (click)="clearDate('DateOfAllocation')">clear</mat-icon>
                                <mat-datepicker-toggle matSuffix [for]="dateOfAllocation"></mat-datepicker-toggle>
                            </div>
                            <mat-datepicker #dateOfAllocation></mat-datepicker>
                            <mat-error *ngIf="genericvtmappingForm.controls.DateOfAllocation.invalid">
                              {{getErrorMessage(genericvtmappingForm, 'DateOfAllocation')}}
                             </mat-error>
                        </mat-form-field>

                    </div>  

                    <div fxLayout="row" fxLayout.lt-md="column" class="input-row" fxLayoutGap="10px"
                        fxLayoutGap.lt-md="0px"> 

                        <mat-form-field appearance="outline" fxFlex="33" fxFlex.lt-md="33" fxFlex.lt-sm="100">
                            <mat-label>Date Of School VC Allocation</mat-label>
                            <input matInput [matDatepicker]="dateOfAllocationVC" name="dateOfAllocationVC" 
                                   [min]="genericvtmappingForm.controls.DateOfAllocation.value" [max]="CurrentDate" formControlName="DateOfAllocationVC"
                                   [disabled]="PageRights.IsReadOnly" [readonly]="true" (click)="dateOfAllocationVC.open()">
                            <div matSuffix style="display: flex; align-items: center;">
                                <mat-icon matDatepickerToggleIcon matSuffix [for]="dateOfAllocationVC" (click)="clearDate('DateOfAllocationVC')">clear</mat-icon>
                                <mat-datepicker-toggle matSuffix [for]="dateOfAllocationVC"></mat-datepicker-toggle>
                            </div>
                            <mat-datepicker #dateOfAllocationVC></mat-datepicker>
                            <mat-error *ngIf="genericvtmappingForm.controls.DateOfAllocationVC.invalid">
                              {{getErrorMessage(genericvtmappingForm, 'DateOfAllocationVC')}}
                            </mat-error>
                          </mat-form-field>
                          

                     <mat-form-field appearance="outline" fxFlex="50" fxFlex.lt-md="75" fxFlex.lt-sm="100"
                     *ngIf="genericvtmappingForm.controls.VTPId.value && (PageRights.ActionType ==='edit' || PageRights.ActionType ==='view')">
                        <mat-label>Date Of Removal VTP</mat-label>
                        <input matInput [matDatepicker]="picker1" name="dateOfRemoval" [max]="CurrentDate"
                            (dateChange)="onChangeDateEnableDisableCheckBox(genericvtmappingForm, $event)"
                            [min]="genericvtmappingForm.controls.DateOfAllocation.value"
                            formControlName="DateOfRemoval" [disabled]="PageRights.IsReadOnly" [readonly]="true" (click)="picker1.open()">
                        <div matSuffix style="display: flex; align-items: center;">
                            <mat-icon matDatepickerToggleIcon matSuffix [for]="picker1" (click)="clearDate('DateOfRemoval')">clear</mat-icon>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        </div>
                        <mat-datepicker #picker1></mat-datepicker>
                        <mat-error *ngIf="genericvtmappingForm.controls.DateOfRemoval.invalid">
                            {{getErrorMessage(genericvtmappingForm, 'DateOfRemoval')}}
                        </mat-error>
                     </mat-form-field>

                     <mat-form-field appearance="outline" fxFlex="50" fxFlex.lt-md="75" fxFlex.lt-sm="100"
                     *ngIf="genericvtmappingForm.controls.VTId.value && (PageRights.ActionType ==='edit' || PageRights.ActionType ==='view')">
                        <mat-label>Date Of Removal VT</mat-label>
                        <input matInput [matDatepicker]="dateOfRemovalVT" name="dateOfRemovalVT" [max]="CurrentDate"
                            (dateChange)="onChangeDateEnableDisableCheckBox(genericvtmappingForm, $event)"
                            [min]="genericvtmappingForm.controls.DateOfAllocation.value"
                            formControlName="DateOfRemovalVT" [disabled]="PageRights.IsReadOnly" [readonly]="true" (click)="dateOfRemovalVT.open()">
                            <div matSuffix style="display: flex; align-items: center;">
                                <mat-icon matDatepickerToggleIcon matSuffix [for]="dateOfRemovalVT" (click)="clearDate('DateOfRemovalVT')">clear</mat-icon>
                                <mat-datepicker-toggle matSuffix [for]="dateOfRemovalVT"></mat-datepicker-toggle>
                            </div>
                        <mat-datepicker #dateOfRemovalVT></mat-datepicker>
                        <mat-error *ngIf="genericvtmappingForm.controls.DateOfRemovalVT.invalid">
                            {{getErrorMessage(genericvtmappingForm, 'DateOfRemovalVT')}}
                        </mat-error>
                     </mat-form-field>

                     <mat-form-field appearance="outline" fxFlex="50" fxFlex.lt-md="75" fxFlex.lt-sm="100"
                     *ngIf="genericvtmappingForm.controls.VCId.value && (PageRights.ActionType ==='edit' || PageRights.ActionType ==='view')">
                        <mat-label>Date Of Removal VC</mat-label>
                        <input matInput [matDatepicker]="DateOfRemovalVC" name="dateOfRemovalVC" [max]="CurrentDate"
                            (dateChange)="onChangeDateEnableDisableCheckBox(genericvtmappingForm, $event)"
                            [min]="genericvtmappingForm.controls.DateOfAllocation.value"
                            formControlName="DateOfRemovalVC" [disabled]="PageRights.IsReadOnly" [readonly]="true" (click)="DateOfRemovalVC.open()">
                            <div matSuffix style="display: flex; align-items: center;">
                                <mat-icon matDatepickerToggleIcon matSuffix [for]="DateOfRemovalVC" (click)="clearDate('DateOfRemovalVC')">clear</mat-icon>
                                <mat-datepicker-toggle matSuffix [for]="DateOfRemovalVC"></mat-datepicker-toggle>
                            </div>
                        <mat-datepicker #DateOfRemovalVC></mat-datepicker>
                        <mat-error *ngIf="genericvtmappingForm.controls.DateOfRemovalVC.invalid">
                            {{getErrorMessage(genericvtmappingForm, 'DateOfRemovalVC')}}
                        </mat-error>
                     </mat-form-field>

                     <mat-form-field appearance="outline" fxFlex="50" fxFlex.lt-md="75" fxFlex.lt-sm="100"
                     *ngIf="PageRights.ActionType ==='edit' || PageRights.ActionType ==='view'">
                        <mat-label>Date Of Removal VTP/VC/VT Mapping</mat-label>
                        <input matInput [matDatepicker]="DateOfRemovalGVT" name="dateOfRemovalGVT" [max]="CurrentDate"
                            (dateChange)="handleDateChange(); onChangeDateEnableDisableCheckBox(genericvtmappingForm, $event)"
                            [min]="genericvtmappingForm.controls.DateOfAllocation.value"
                            formControlName="DateOfRemovalGVT" [disabled]="PageRights.IsReadOnly" [readonly]="true" (click)="DateOfRemovalGVT.open()">
                            <div matSuffix style="display: flex; align-items: center;">
                                <mat-icon matDatepickerToggleIcon matSuffix [for]="DateOfRemovalGVT" (click)="clearDate('DateOfRemovalGVT')">clear</mat-icon>
                                <mat-datepicker-toggle matSuffix [for]="DateOfRemovalGVT"></mat-datepicker-toggle>
                            </div>
                        <mat-datepicker #DateOfRemovalGVT></mat-datepicker>
                        <mat-error *ngIf="genericvtmappingForm.controls.DateOfRemovalGVT.invalid">
                            {{getErrorMessage(genericvtmappingForm, 'DateOfRemovalGVT')}}
                        </mat-error>
                     </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="column" class="input-row" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
                        <div class="note">
                          <u>Note</u>
                          <ol>
                            <li>If any VT is not showing in the VT dropdown, so we need to fill in all the details of that VT in the Vocational Trainer Page.</li>
                            <li>If any VC is not showing in the VC dropdown, so we need to fill in all the details of that VC in the Vocational Coordinator Page.</li>
                          </ol>
                        </div>
                    </div>                      

                    <div fxLayout="row" fxLayout.lt-md="column" class="input-row" fxLayoutGap="10px"
                     fxLayoutGap.lt-md="0px">
                      <span class="checkbox-space">Is Active?</span>
                      <mat-checkbox matInput formControlName="IsActive" ngDefaultControl [disabled]="true">
                      </mat-checkbox>
                    </div>
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>